body{
  text-align: center;
}

.productContainer{
  display: flex;
  flex-wrap: wrap;
}

.productContainer > .link{

  text-align: center;
box-shadow:0 0 10px #c2af72;
margin: 10px;

}

.productContainer > .link:hover{
background-color: lightblue;
cursor: pointer;

}